.company-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.company-list > .item {
  // width: 170px;
  height: 90px;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 767px){
width: calc((100% - 60px) / 2);
margin: 15px 15px 0 15px;

    
  }

  // &:not(:last-child) {
  //   margin-right: 30px;
  // }

  
}

.company-icon {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--primary-icon-color);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }

  &:hover > .icon,
  &:focus > .icon {
    fill: var(--accent-color);
  }
}

.company-icon .icon {
  fill: currentColor;
}
