.filtr-list {
  

  display: flex;
 
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    margin: 0 0 40px 0;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin: 0 0 30px 0;
  }
  @media screen and (min-width: 768px) {
    margin: 0 0 50px 0;
  }
}

.filtr-list > .item:not(:last-child) {
  margin-right: 8px;
  @media screen and(max-width: 767px){
    &:nth-child(-n + 3) {
      margin-bottom: 15px;
  }
  }
}

.filtr-list .button {
  cursor: pointer;

  color: var(--title-text-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  padding: 6px 22px;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
