.site-footer {
  background: #2f303a;
  @media screen and (max-width: 1199px){
    text-align: center;
  }
  
}

.site-footer > .container {
  padding-bottom: 60px;
  padding-top: 60px;
  

  @media screen and (min-width: 787px) and (max-width:1199px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-contact {

  @media screen and (max-width:1199px){
    margin: 0 165px 60px 76px;
  }
 
}


.site-footer .logo-end {
  color: #ffffff;
}

.site-footer .map {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  display: inline-block;
  margin: 0 0 9px 0;
}

.site-footer .contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      padding: 0 0 8px 0;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      padding: 0 0 9px 0;
    }
  }
}

.site-footer .logo {
  display: inline-block;
  margin: 0 0 20px 0;
}

.site-footer .link {
  display: block;

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.site-footer .title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.site-footer .follow {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px){
    margin-left: 70px;
    display: block;}
  
}

.follow .icon-list {
  display: flex;
  justify-content: center;
}

.follow .icon-item:not(:last-child) {
  margin-right: 10px;
}

.follow .icon-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.follow .icon {
  fill: currentColor;
}

/* Footer form */

.site-footer .forms {

  @media screen and (min-width: 768px){
    margin: 0 auto;
  }
  @media screen and (min-width: 1200px){
    margin-left: 93px;
    // padding-top: 12px;
  }
 
}

.site-footer .contact-info {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
 }

.forms .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin: 0;
  padding-bottom: 20px;
}

.footer-form {
  
  align-items: center;

  @media screen and (min-width: 1200px){
    display: flex;
  }
}

.footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  padding: 15px 16px;
    margin-bottom: 20px;
  width: 100%;
  
  height: 50px;
  color: #fff;
  cursor: pointer;

  @media screen and (min-width:787px){
    width: 450px;
  }
  @media screen and (min-width: 1200px){
    margin: 0 12px 0 0;
    width: 358px;
  }
}

.footer-button {
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  padding: 10px 28px 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  margin: 0 auto;

  display: flex;
  align-items: center;

  &::after {
    content: "";

    display: inline-block;
    background-image: url(../img/icon-send.svg);
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
}
