.site-header > .main-nav {
    // display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  
  // .site-nav {
  //   // display: flex;
  // }
  
  .logo-end {
    color: #000000;
  }
  
  .site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
  
    position: relative;
  }
  
  .link.active::after {
    content: "";
    position: absolute;
  
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -32px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  
  // .site-nav > .item:not(:last-child) {
  //   margin-right: 50px;
  // }
  
  // .site-nav > .item:first-child {
  //   margin-left: 93px;
  // }
  
  /* Auth-nav */
  
  // .auth-nav {
  //   // display: flex;
  //   margin-left: auto;
  // }
  
  // .auth-nav > .item:not(:last-child) {
  //   margin-right: 50px;
  // }
  
  .auth-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    // display: flex;
    align-items: center;
  }
  
  .site-nav .link:hover,
  .site-nav .link:focus,
  .site-nav .active,
  .auth-nav .link:hover,
  .auth-nav .link:focus {
    color: var(--accent-color);
  }
  
  .auth-nav .button {
    padding: 0;
    margin-right: 10px;
    // display: flex;
    color: var(--primary-text-color);
    background-color: #fff;
  }
  
  .auth-nav .button-icon {
    fill: currentColor;
  }
  
  .auth-nav .link:hover .button,
  .auth-nav .link:focus .button {
    color: var(--accent-color);
  }