.section.background-accent {
    padding: 94px 0px;
    background-color: #f5f4fa;
  }
  
  .team-list {
    display: flex;
  }
  
  
  
  .team-list > .item {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;

   &:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  .team-list .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin: 30px 0 10px 0;
  }
  
  .team-list .text {
    margin: 0 0 16px 0;
  }
  
  .team-list .icon-list {
    display: flex;
    margin: 0 32px 30px 32px;
  }
  
  .team-list .icon-item:not(:last-child) {
    margin-right: 10px;
  }
  
  .team-list .icon-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-icon-color);
    border-radius: 50%;
    background-color: transparent;
  }
  
  .team-list .icon {
    fill: currentColor;
  }
  
  .team-list .icon-link:hover .icon,
  .team-list .icon-link:focus .icon {
    fill: #fff;
  }
  .team-list .icon-link:hover,
  .team-list .icon-link:focus {
    background-color: var(--accent-color);
  }