.section.background-accent {
  background-color: #f5f4fa;

  @media screen and (max-width: 1199px) {
    padding: 60px 0px;
  }
  @media screen and (min-width: 1200px) {
    padding: 94px 0px;
  }
}

.team-list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    
  }
}

.team-list > .item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  padding-bottom: 24px;

  @media screen and (max-width: 767px) {
    padding-bottom: 24px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 60px) / 2);
    margin: 15px 15px 0 15px;

    &:nth-child(-n + 2) {
      margin-top: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin: 30px 0 10px 0;
}

.team-list .text {
  margin: 0 0 16px 0;

  @media screen and (max-width: 1199px) {
    font-size: 16px;
    line-height: 1.19;
  }
}

.team-list .icon-list {
  display: flex;
  justify-content: center;
}

.team-list .icon-item:not(:last-child) {
  margin-right: 10px;
}

.team-list .icon-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-icon-color);
  border-radius: 50%;
  background-color: transparent;
}

.team-list .icon {
  fill: currentColor;
}

.team-list .icon-link:hover .icon,
.team-list .icon-link:focus .icon {
  fill: #fff;
}
.team-list .icon-link:hover,
.team-list .icon-link:focus {
  background-color: var(--accent-color);
}
