.backdrop {
  position: fixed;

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);

  pointer-events: auto;
  opacity: 1;
  visibility: visible;

  transition: pointer-events var(--anitation-function),
    opacity var(--anitation-function), visibility var(--anitation-function);
}

.modal {
  position: absolute;

  display: flex;
  width: 528px;
  height: 581px;
  padding: 40px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button {
  position: absolute;

  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill var(--anitation-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  margin: 0 0 12px 0;
}

.form-field {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.form-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.policy-text {
  margin-top: 20px;
  margin-bottom: 30px;
}

.form-input {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--anitation-function);

  &:focus,
  &:hover {
    outline: none;
    border-color: var(--accent-color);
    cursor: pointer;
  }
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--anitation-function);
}

.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
  fill: var(--accent-color);
}

.form-massage {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  transition: border-color var(--anitation-function);

  &:focus,
  &:hover {
    outline: none;
    border-color: var(--accent-color);
    cursor: pointer;
  }
}

.policy-text {
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";

    display: inline-block;
    width: 16px;
    height: 15px;
    background-image: url(../img/checkbox.jpg);
    margin-right: 7px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;

    transition: background-image var(--anitation-function);
  }
}

.form-policy:checked + .policy-text::before {
  background-image: url(../img/checkbox-active.jpg);

  transition: background-image var(--anitation-function);
}

.link-policy {
  color: var(--accent-color);
}

.form-button {
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  margin: 0 auto;
}
