.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (max-width: 1199px) {
    margin: 0 0 30px 0;
    font-size: 28px;
  line-height: 1.18;
  }
  @media screen and (min-width: 1200px) {
    margin: 0 0 50px 0;
    font-size: 36px;
  line-height: 1.17;
  }
}

.section {
  @media screen and (max-width: 1199px) {
    margin: 60px 0;
  }

  @media screen and (min-width: 1200px) {
    margin: 94px 0;
  }
}

.site-header.portfolio-header {
  border-bottom: 1px solid #ececec;
}
