body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  color: var(--title-text-color);
}

img {
  display: inline-block;
}

.button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
    letter-spacing: 0.03em;
  text-decoration: none;

  @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.16;
  }
  @media screen and (min-width: 1200px) {
  font-size: 26px;
  line-height: 1.2;}
}

.icon,
.icon-link,
.link,
.company-icon,
.button,
.hero-button {
  transition: var(--anitation-function);
}
